/* #region common */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat", sans-serif;
}
/* #endregion common */

/* #region utilities */
.debug *{
    border: 1px dashed;
}

.container{
    width: 95%;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
}

.col-12{
    width: 100%;
}

[class^="col-"]{
    padding: 0 1rem;
}

.p-1{
    padding: 1rem;
}

/* #endregion utilities */

/* #region color palette */
:root{
    --boo-light: #ffffff;
    --boo-dark: #000000;
    --boo-title: #ff9614;
    --boo-bg: #f6f5f3;
    --boo-recipe: #4e3969;
    --boo-icon: #f7972e;
    --boo-footer-bg: #7c69a4;
}

/* #endregion color palette */

/* #region header */
#app-header{
    text-align: center;
    color: var(--boo-title);
    font-family: "Nerko One", cursive;
    font-size: 1.25rem;
}
/* #endregion header */



/* breackpoint sm 768px */
@media screen and (min-width:768px) {

    .container-sm{
        width: 90%;
        margin: auto;
    }

    .p-sm-1{
        padding: 1rem;
    }
    
    #app-header{
        text-align: start;
        font-size: 1rem;
    }


}

/* breackpoint md 992px */
@media screen and (min-width:992px) {

    .container-md{
        width: 70%;
        margin: auto;
        max-width: 1200px;
    }

    .col-9-md{
        width: calc((100% / 12) * 9);
    }

    .col-3-md{
        width: calc((100% / 12) * 3);
    }

    .p-md-1{
        padding: 1rem;
    }
    
    #app-header{
        text-align: start;
        font-size: 1.25rem;
    }
}

