/* #region common */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat", sans-serif;
}

img{
    max-width: 100%;
}

section{
    padding-top: 1rem;
}

#app-main{
    background-color: var(--boo-bg);
}
/* #endregion common */

/* #region utilities */
.debug *{
    border: 1px dashed;
}

.container{
    width: 90%;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
}

.col-12{
    width: 100%;
}

[class^="col-"]{
    padding: 0rem 1rem 0rem 1rem;
}

.p-1{
    padding: 1rem;
}

.bg-white{
    background-color: var(--boo-light);
}

.bg-lighter{
    background-color: var(--boo-bg);
}

/* #endregion utilities */

/* #region color palette */
:root{
    --boo-light: #ffffff;
    --boo-dark: #000000;
    --boo-title: #ff9614;
    --boo-bg: #f6f5f3;
    --boo-recipe: #4e3969;
    --boo-recipe-type: #b6b6b5;
    --boo-icon: #f7972e;
    --boo-footer-bg: #7c69a4;
}

/* #endregion color palette */

/* #region header */
#app-header{
    text-align: center;
    color: var(--boo-title);
    font-family: "Nerko One", cursive;
    font-size: 1.25rem;

}
/* #endregion header */

/* #region main */
#card{
    
    h3{
        color: var(--boo-recipe-type);
        font-weight: 500;
        font-size: .75rem;
        padding-bottom: .5rem;
    }

    h2{
        color: var(--boo-recipe);
        font-size: 1.25rem;
        padding-bottom: 1rem;
    }

    iframe{
        width: 100%;
    }

    ul{
        list-style-type: none;
        font-size: .85rem;
        padding: 1rem;
        
        li{
            padding: .5rem;
        }

        i{
            color: var(--boo-icon);
        }
    }
}

/* #endregion main */



/* breackpoint sm 768px */
@media screen and (min-width:768px) {

    .container-sm{
        width: 85%;
        margin: auto;
    }

    .p-sm-1{
        padding: 1rem;
    }
    
    #app-header{
        text-align: start;
        font-size: 1rem;
    }


}

/* breackpoint md 992px */
@media screen and (min-width:992px) {

    .container-md{
        width: 70%;
        margin: auto;
        max-width: 1200px;
    }

    .col-9-md{
        width: calc((100% / 12) * 9);
    }

    .col-3-md{
        width: calc((100% / 12) * 3);
    }

    .p-md-1{
        padding: 1rem;
    }
    
    #app-header{
        text-align: start;
        font-size: 1.25rem;
    }
}

